# add .csv files to gitignore
*.csv

# add processed data files to gitignore
/data/processed/*

# add virtual environment folders to gitignore
venv/

# add .log files to gitignore
*.log

# add CLAUDE.md to gitignore
CLAUDE.md

# add all pycache files to gitignore
**/__pycache__/*